* {
    font-family: monospace;
    font-size: 13px;
}

window#waybar {
    background-color: #32323200; 
    color: #ffffff;         
}

#clock {
    color: #ffffff;
    padding: 0 10px;
}

#workspaces button {
    border: 2px solid #32323200;   
    background-color: #32323200;  
    color: #5c5c5c;             
    padding: 0 8px;
}

#workspaces button.visible {
    border: 2px solid #434343;   
    background-color: #5f676a00;  
    color: #ffffff;               
}

#workspaces button.focused {
    border: 2px solid #9c7899;    
    background-color: #46465200; 
    color: #ffffff;               
}